$primary: #005f69;
$primary-light: #008d9c;
$bg: #6d6e72;
$lightblue: #a6c3c9;
$font-body: Nunito, sans-serif;
$font-heading: Norse, sans-serif;
$font-table-header: Tahoma, sans-serif;
$font-heading-alt: Knucklehead, sans-serif;
$border-color: #404141;
$border-radius: 5px;
