.user-css {
    .bookcover {
        width: 280px;
        height: 215px;
        border-radius: 3 + $border-radius;
        box-shadow: 0px 2px 10px 0px;
        border: 2px solid $primary;
        overflow: hidden;

        img {
            opacity: 0.9;
            transition: 0.2s opacity ease-in-out;
            height: 100% !important;
        }

        a:hover {
            img,
            .booktitle {
                transition: 0.2s opacity ease-in-out;
            }

            .booktitle {
                opacity: 1;
                background-color: transparent;
                transition: 0.2s opacity ease-in-out;
            }

            .excerpt {
                top: 50%;
                left: 0;
                right: 0;
                transform: translateY(-50%);
            }
        }
    }

    .booktitle {
        background-color: transparent;
        color: #fff;
        left: 0;
        right: 0;
        text-align: center;
        max-width: none;
        text-align: center;
        opacity: 0.9;
        transition: 0.2s opacity ease-in-out;
        text-transform: none;
    }
}
