.user-css-extended {
    @media screen and (min-width: 992px) and (max-width: 1250px) {
        .extendedbody-comments {
            padding-left: 50px;
        }
    }

    .comment-form {
        .btn-primary,
        .btn {
            background-color: $primary;
            border-radius: 0;
            border: none;
            color: #fff;

            &:hover {
                background-color: $primary-light;
                border: none;
                color: #fff;
            }
        }
    }
}
