.user-css {
    hr {
        border-color: rgba(#333, 0.2);
    }

    .text-muted {
        color: #333;
    }

    .page {
        background: transparent
            url(https://www.worldanvil.com/i/1286422/render)
            no-repeat;
        color: #333;
        font-size: 1.7rem;
        font-family: $font-body;
    }

    .list-box i {
        color: #333;
    }

    .category-list {
        padding: 0;
    }

    dl {
        margin-bottom: 0;
    }

    .tab-pane {
        padding-top: 0;
    }

    .world-content .user-custom-content {
        img {
            height: 208px;
        }

        // Hacky way of setting the correct height for the blocks
        .hidden-xs {
            height: 242px;
        }
    }

    .author {
        display: none;
    }

    blockquote {
        background-color: rgba(255, 255, 255, 0.38);
        border-color: $primary;
        color: $text-color;
        margin: 1em 0;
        font-family: $font-body;
        font-size: 1.7rem;
        padding-bottom: 0.5em;

        .author {
            display: block;
            font-family: $font-body;
            color: $text-color;
            font-size: 0.9em;
        }
    }

    .aloud {
        border: none;
        color: $text-color;
        background-color: #a5c4ca;
        font-family: $font-body;
        padding: 1em;
        font-size: 1.7rem;
    }

    .credit-artist-name {
        color: $text-color;
    }

    .article-unlinked {
        font-weight: 400;
    }
}
