.user-css {
    .ba-nav-bar {
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: $nav-bg;
        transition: width 0.2s linear;
        padding: 0;
        width: 59px;
        overflow-y: auto;
        overflow-x: hidden;

        @media screen and (max-width: 768px) {
            height: auto;
            bottom: auto;
            top: 35%;
            z-index: 1000;
        }

        &:hover {
            width: 210px;
            top: 0;

            @media screen and (max-width: 768px) {
                height: 100%;
                bottom: 0;
            }

            li {
                display: flex;

                &:hover {
                    img {
                        opacity: 1;
                        transition: 0.2s opacity ease-in-out;
                    }
                }
            }

            .ba-nav-bar__item {
                opacity: 1;
                visibility: visible;
                transition: 0.3s opacity ease-in-out;
                transition-delay: 0.1s;
            }

            @media screen and (max-width: 768px) {
                .ba-nav-bar__toggler-text {
                    display: block;
                }
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: none;
                align-items: center;

                @media screen and (max-width: 768px) {
                    &:nth-child(1) {
                        display: flex;
                    }
                }

                @media screen and (min-width: 768px) {
                    display: flex;
                }

                a {
                    color: #fff;

                    &:hover,
                    &:focus {
                        color: darken(#fff, 20%);
                    }
                }

                img {
                    width: 32px;
                    height: 32px;
                    max-width: unset;
                    opacity: 0.5;
                    transition: 0.2s opacity ease-in-out;
                }
            }
        }

        &__spacing {
            margin: 0 0.25rem;
        }

        &__item {
            opacity: 0;
            visibility: hidden;
            transition: 0.3s opacity ease-in-out;
            transition-delay: 0.1s;
        }

        &__toggler {
            display: none;

            &-text {
                display: none;
                color: #fff;
            }

            @media screen and (max-width: 768px) {
                display: block;
            }
        }

        .image-thumb-container {
            display: flex;

            a {
                display: inline-block;
                pointer-events: none;
                text-decoration: none;
            }
        }
    }

    .nav-strip {
        background-color: $primary;
        color: #fff;

        a {
            color: #f1f1f1;
            font-family: $font-body;

            &:hover,
            &:focus {
                color: #fff;
            }
        }
    }

    .nav-tabs li {
        a {
            background-color: $primary;
            color: #fff;

            &:hover {
                box-shadow: none;
            }
        }

        &.active a {
            background-color: $primary-light;
            color: #fff;
        }
    }
}
