.user-css {
    .ba-nav-bar {
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: $nav-bg;
        transition: width 0.2s linear;
        padding: 0;
        width: 59px;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 99999;

        @media screen and (max-width: 768px) {
            height: auto;
            bottom: auto;
            top: 114px;
            left: 2px;
            z-index: 1000;
        }

        &:hover {
            width: 220px;
            top: 0;

            @media screen and (max-width: 768px) {
                height: 100%;
                bottom: 0;
            }

            li {
                display: flex;

                a {
                    display: flex;
                    width: 100%;

                    &:hover {
                        img {
                            opacity: 1;
                            transition: 0.2s opacity ease-in-out;
                        }
                    }
                }
            }

            .ba-nav-bar__item {
                opacity: 1;
                visibility: visible;
                transition: 0.3s opacity ease-in-out;
                transition-delay: 0.1s;
            }

            @media screen and (max-width: 768px) {
                .ba-nav-bar__toggler-text {
                    display: flex !important;
                    align-items: center;
                }
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: none;

                @media screen and (max-width: 768px) {
                    &:nth-of-type(1) {
                        display: flex;
                    }
                }

                @media screen and (min-width: 768px) {
                    display: flex;
                }

                a {
                    display: none;
                    color: darken(#fff, 20%);
                    display: flex;
                    align-items: center;

                    &:hover,
                    &:focus {
                        color: #fff;
                    }
                }

                img {
                    width: 32px;
                    height: 32px;
                    max-width: unset;
                    opacity: 0.5;
                    transition: 0.2s opacity ease-in-out;
                }
            }
        }

        &__spacing {
            margin: 0 0.25rem;
        }

        &__item {
            opacity: 0;
            visibility: hidden;
            transition: 0.3s opacity ease-in-out;
            transition-delay: 0.1s;
        }

        &__toggler {
            display: none !important;

            &-text {
                display: none !important;
                color: #fff;
            }

            @media screen and (max-width: 768px) {
                display: block !important;
            }
        }

        .image-thumb-container {
            display: flex;

            a {
                display: inline-block;
                pointer-events: none;
                text-decoration: none;
            }
        }
    }

    .nav-strip {
        background-color: $primary;
        color: #fff;

        a {
            color: #f1f1f1;
            font-family: $font-body;

            &:hover,
            &:focus {
                color: #fff;
            }
        }
    }

    .nav-tabs li {
        a {
            background-color: $primary;
            color: #fff;
            background-color: $primary;
            border: none;

            &:hover {
                box-shadow: none;
                background-color: $primary-light;
            }
        }

        &.active a {
            background-color: $primary-light;
            color: #fff;
        }
    }

    &-presentation #world-navigation-sidebar {
        display: block !important;
        width: 0;
        min-width: 0;
        max-width: 0;
        scrollbar-color: $primary-light $primary;
        box-shadow: none;
        background: none;
        border: none;
        padding: 0;
        z-index: 99999;
    }

    .world-timelines {
        display: none;
    }
}

.presentation-interface {
    .nav {
        &-strip {
            background-color: $primary;

            &:hover {
                background-color: $primary-light;
            }
        }
    }
}
