.user-css-vignette {
    .thales-table {
        --TableHeaderFontSize: 1.8rem;

        border: none;
        color: #333;
        font-family: NunitoSans-Regular;

        th {
            font-weight: 900;
        }

        > tbody > tr > td {
            border: none;
        }

        .thales-cell-content {
            font-size: 1.75rem;
        }

        .thales-rendered-number {
            width: 100%;
            text-align: center;
        }

        th[thales-column-type="number"] .thales-column-title {
            text-align: center;
        }
    }

    .thales-wrapper {
        table.thales-table tr.thales-roll-result {
            background: $primary;
            transition: 0.1s;

            &:hover {
                background: $primary-light;
                transition: 0.1s;
            }

            td,
            span {
                color: #fff;
            }
        }

        tbody {
            font-size: 1.5rem;
        }

        tr.thales-row {
            &:hover {
                &:nth-child(even) {
                    background-color: transparent;
                }

                &:nth-child(odd) {
                    background-color: rgba($primary, 0.3);
                }
            }

            .thales-cell {
                border: none;
            }
        }

        &.reverse {
            display: flex;
            flex-direction: column-reverse;

            #thales-roll {
                width: 100%;

                .thales-roll-group {
                    width: 100%;
                }
            }
        }
    }

    .thales-roll-group {
        background-color: transparent;

        .thales-roll-button {
            background-color: $primary;
            color: #fff;
            border: none;
            transition: 0.2s all ease-in-out;
        }

        &:hover {
            background-color: transparent;

            .thales-roll-button {
                background-color: $primary-light;
                color: #fff;
                border: none;
                transition: 0.2s all ease-in-out;
            }
        }
    }
}
