.user-css {
    .search-form {
        .typeahead-input {
            background-color: #fff;
        }

        .form-group {
            display: flex;
        }

        #search-button {
            color: #fff;
            padding: 3px 8px 2px 13px;
            border-radius: 0 3px 3px 0;
        }
    }

    &.page-search {
        #image-search-results,
        #map-search-results,
        #histories-search-results {
            display: none;
        }
    }
}
