.user-css {
    &-extended {
        h1,
        h2 {
            font-family: $font-heading;
            letter-spacing: 0.2rem;
            font-variant: small-caps;
            color: $primary;
            text-transform: none;
            border: none;
        }

        .page {
            background: transparent
                url(https://www.worldanvil.com/uploads/images/8993a99f5c51edfde088888cee9eb8a8.jpg)
                repeat-y;
            color: #333;
            font-size: 1.7rem;
            font-family: $font-body;
        }

        .nav-tabs li {
            a {
                background-color: $primary;
                color: #fff;
                background-color: $primary;
                border: none;

                &:hover {
                    box-shadow: none;
                    background-color: $primary-light;
                }
            }

            &.active a {
                background-color: $primary-light;
                color: #fff;
            }
        }

        a {
            color: $primary;
            transition: 0.2s all;

            &:hover {
                color: $primary-light;
                text-decoration: none;
                transition: 0.2s all;
            }
        }

        .label-default {
            color: $primary;
            background: transparent;
            border: 1px solid $primary;
            display: inline-flex;
            margin: 3px 0;
            line-height: 0.8em;

            &:hover {
                color: $primary-light;
                border-color: $primary-light;
                background: rgba(255, 255, 255, 0.1);
            }
        }
    }

    #world-maps,
    #world-timelines {
        display: none;
    }

    &.page {
        background: #fff;
        background-size: cover;
        color: #333;
        font-size: 1.7rem;
        font-family: $font-body;
        background: url(https://www.worldanvil.com/uploads/images/8993a99f5c51edfde088888cee9eb8a8.jpg);
        border: 2px $primary solid;
        border-radius: $border-radius;
    }

    &-presentation {
        background: url(https://www.worldanvil.com/uploads/images/b9c5adb195a34f33831c37120044db1d.jpg);
        background-size: cover;
        background-attachment: fixed;

        .world-navigation-palette-trigger {
            display: none;
            color: $primary;
            border-radius: $border-radius;
            transition: 0.1s all ease-in-out;
            padding-bottom: 7px;

            &-active {
                transition: left 0.5s;
            }

            &:hover {
                color: $primary-light;
            }
        }

        .followers-counter {
            display: none;
        }
    }

    &-followers-counter-number {
        .header-title a {
            display: block;
        }
    }

    &-whitelabel {
        position: static;
        padding: 1em;
        width: 50%;
        background: transparent;
        margin: 0 auto 2rem;
        color: #fff !important;
        text-align: center;
        opacity: 1;
    }
}
