.user-css {
    .world-title {
        font-family: $font-heading-alt;
        font-variant: normal;
        font-size: 3em;
    }

    .backtoworld a {
        background-color: $primary;
        font-family: $font-body;
        left: -25px;
        border-radius: $border-radius;
        padding: 9px 15px;

        @media screen and (max-width: 1366px) {
            left: 10px;
        }

        &:hover {
            background-color: $primary-light;
            box-shadow: 2px 2px 5px rgba(#444, 0.5);
        }
    }

    .world-category-content .user-custom-content,
    .world-content .user-custom-content {
        text-align: center;
    }

    .world-menu-subcategory .list-box ul {
        margin-left: 0.5em;

        h6 {
            a {
                font-size: 1.5rem;
            }
        }
    }
}
