@font-face {
  font-family: Norse;
  src: url(https://rawcdn.githack.com/TheThreeQuackInn/bonusaction/dd3741cbd08ed5a38679da22c93ca3ffcd8826d3/fonts/Norse-Bold.eot);
  src: url(https://rawcdn.githack.com/TheThreeQuackInn/bonusaction/dd3741cbd08ed5a38679da22c93ca3ffcd8826d3/fonts/Norse-Bold.eot#iefix)
      format(embedded-opentype),
    url(https://rawcdn.githack.com/TheThreeQuackInn/bonusaction/dd3741cbd08ed5a38679da22c93ca3ffcd8826d3/fonts/Norse-Bold.woff2)
      format(woff2),
    url(https://rawcdn.githack.com/TheThreeQuackInn/bonusaction/dd3741cbd08ed5a38679da22c93ca3ffcd8826d3/fonts/Norse-Bold.woff)
      format(woff),
    url(https://rawcdn.githack.com/TheThreeQuackInn/bonusaction/dd3741cbd08ed5a38679da22c93ca3ffcd8826d3/fonts/Norse-Bold.ttf)
      format(truetype),
    url(https://rawcdn.githack.com/TheThreeQuackInn/bonusaction/dd3741cbd08ed5a38679da22c93ca3ffcd8826d3/fonts/Norse.svg)
      format(svg);
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}
