@import "../../css/variables.scss";

.statblock__container {
    border-top: 10px solid $border-color;
    border-bottom: 10px solid $border-color;
}

.statblock__inner {
    display: flex;
    background-color: #efefef;
    padding: 2em;
    color: #333;
    font-family: NunitoSans-Regular;
    max-width: 99%;
    margin: 0 auto;
}
.statblock__inner h1 {
    color: $primary;
    margin: 0;
    font-variant: small-caps;
    letter-spacing: 0.2rem;
    font-family: Norse;
    font-weight: bold;
    font-size: 2.5rem;
}
.statblock__description {
    margin: 0.5em 0;
    font-size: 1rem;
}
.statblock__description p {
    white-space: pre-line;
    margin: 0;

    b {
        font-weight: 900;
    }
}
.statblock__attunement,
.statblock__subtitle {
    font-style: italic;
    margin: 0;
    font-size: 1rem;
}
.statblock__left {
    flex: 1 1 60%;
    padding: 0 2em 0 0;
}
.statblock__right {
    flex: 0 1 40%;
}
.statblock__image {
    display: flex;
    justify-content: flex-end;

    img {
        border-radius: 10px;
    }
}
