@font-face {
  font-family: Norse;
  src: url(https://rawcdn.githack.com/TheThreeQuackInn/bonusaction/e1473b80040eda7e3b3d92c57399e96ec43ced7f/fonts/Norse-Bold.woff);
  font-weight: bold;
  font-style: normal;
  font-display: fallback; }
h1 {
  font-family: Norse; }

.table__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .table__container .table {
    background-color: #fff;
    color: #333;
    font-family: NunitoSans-Regular; }
    .table__container .table th {
      font-weight: 900; }
    .table__container .table > tbody > tr > td {
      border-top: none; }
  .table__container .table-striped tbody tr.odd {
    background-color: #a6c3c9; }

.btn-random-roll {
  margin: 1rem 0; }

.table-random-results {
  margin-bottom: 1rem; }

.btn.btn-primary.btn-random-roll {
  background-color: #005f69 !important;
  color: #fff !important;
  border: none !important; }
  .btn.btn-primary.btn-random-roll:hover {
    background-color: #008d9c !important;
    color: #fff !important;
    border: none !important; }
